web-loader {display: inline-block; position: fixed; width: 100%; height: 100%; text-align: center;  vertical-align: middle; background: #7A7A7A;}
web-loader.hidden {display: none !important;}
web-loader img {}
web-loader svg {}
